@import '../../colors'

#CardProuductorGrid__container
  width: calc(100% - 40px)
  height: auto
  padding: 20px
  position: relative
  //background-color: $cta__text
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  gap: 40px
  overflow-y: auto